<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">

.inlineblock {
  display:inline-block;
  vertical-aligh:top;
  width:200px;
  border:5px dotted;
  padding:5px;
  margin:10px;
}

    </style>
  </head>
  <body>

<div class="inlineblock">
I believe that, whatever design problem you need to solve, you should face it with rationality, logic and careful analysis if you want to get to the right idea.
</div>

<div class="inlineblock widthdouble">
Graphic design is always a synthetic work: you need to reduce and remove until you reach the core of the message. When you work with typography and lettering, the essential goal is to obtain the best possible legibility.
</div>

<div class="inlineblock">
Graphics is not an independent art, but a service. To obtain a correct result, you need to put yourself on the side of the observer, on the side of the public.
</div>

  </body>
</html>
