<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    .margin {
      margin-left:100px;
      border-left:2px dashed;
      padding-left:100px;
      width:400px;
    }

    .two {
      margin-left:300px;

    }

    .three{
      margin-left:500px;
    }


    </style>
  </head>
  <body>
    <div class="margin one">
      <h1>header</h1>
      <h2>header2</h2>
    </div>
  <div class="margin two">
    I believe that, whatever design problem you need to solve, you should face it with rationality, logic and careful analysis if you want to get to the right idea.
  </div>
  <br>
  <div class="margin three">
    Graphic design is always a synthetic work: you need to reduce and remove until you reach the core of the message. When you work with typography and lettering, the essential goal is to obtain the best possible legibility.
  </div>




  </body>
</html>
